.profile {
    display:flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    
}

.htext {
    text-align: center;

}

.htext h1 {
    font-family: "Cal Sans", sans-serif;
}

.htext p {
    font-family: "Didact Gothic", sans-serif;
}

.hbox img {
    width: 400px;
    border-radius: 33px;
    padding-top: 5%;
}

.socials h2 {
    font-family: "Cal Sans", sans-serif;
    text-align: center;
}

.socials img {
    width: 60px;
    border-radius: 0px;
}

p {
    padding-right: 100px;
}

h1 {
    padding-right: 100px;
}