nav {
    font-size: 48px;
    width: 95%;
    text-align: center;
    margin: auto;
    background-color: #b5b5b5;
    box-shadow: 1px 2px 10px rgb(97, 97, 97);
    font-family: "Cal Sans", sans-serif;
}

nav a:link {
    text-decoration: none;
    padding: 15px;
    color:#100004;
}

form {
    display: inline-block;
    color: #000000;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 100px;
    font-size: 24px;
    font-family: "Didact Gothic", sans-serif;
}

.psidebar img {
    width:437px;
    border-radius: 26px;
}

td img {
    height: 200px;
    box-shadow: 1px 7px 10px rgb(97, 97, 97);
}

footer {
    text-align: center;
    background-color: #a8a8a8;
    position: fixed;
    bottom: 2px;
    width: 100%;
}

.greenie {
    width: 100px;
}