nav {
    font-size: 48px;
    width: 90%;
    text-align: center;
    margin: auto;
    background-color: #221A18;
    box-shadow: 1px 2px 10px rgb(97, 97, 97);
    font-family: "Cal Sans", sans-serif;

}

nav a:link {
    text-decoration: none;
    padding: 20px;
    color:#EEE0CB;
}

form {
    display: inline-block;
    color: #000000;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 100px;
    font-size: 24px;
    font-family: "Didact Gothic", sans-serif;
}

.psidebar img {
    width:437px;
    border-radius: 26px;
}

td img {
    height: 200px;
    box-shadow: 1px 7px 10px rgb(97, 97, 97);
}

footer {
    text-align: center;
    background-color: #374732;
    position: fixed;
    bottom: 2px;
    width: 100%;
}

.greenie img {
    width: 100px;
    padding-left: 45%;
    padding-right: 45%;
}

body {
    background-color: #EEE0CB;
}

footer p {
    color:#EEE0CB;
}